body {
	background-color: black;
	font-family: 'Righteous', Arial;
	margin: 0;
}

.mode-button {
	width: 15vw;
	height: 80px;
	border-radius: 10px;
	border: 1px solid lightgrey;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	outline-style: none;
}

.mode-button:hover {
	background-color: grey;
}

.hard {
	margin-top: 50px;
}

.minus-points {
	position: fixed;
	left: 25%;
	transform: translateX(-90%);
	color: rgba(255,0,0,0);
	font-size: 4em;
}

#score-input {
	width: 75%;
	border: 1px solid lightgrey;
	height: 50px;
	text-align: center;
	font-size: 1.2em;
	margin: 20px 0;
}

#score-button {
	width: 25%;
	border: 1px solid lightgrey;
	height: 50px;
	font-size: 0.5em;
	outline-style: none;
	cursor: pointer;
	font-weight: 800;
}

#score-button:hover {
	background-color: lightgrey;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: #664848;
}

.top-space {
	height: 8vh;
	margin: 0 10px;
	display: flex;
	justify-content: space-between;
}

.top-space a {
	color: white;
	font-size: 1.4em;
}

#score {
	color: white;
	font-size: 4em;
}

#main-menu {
	width: 25%;
	text-align: left;
}

#listen-to-more {
	width: 25%;
	text-align: right;
}

.note-container {
	min-width: 100%;
	height: 85vh;
	color: white;
	font-size: 2em;
	font-weight: 800;
	display: flex;
	justify-content: space-around;
}

.note-column {
	width: 13%;
}

.column-divider {
	width: 6%;
	background-color: black;
	background-image:
    linear-gradient(
      to bottom,
      black,
      rgb(60,60,60) 10%
    );
	box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.column-divider-bottom {
	width: 6%;
	background-color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top: 2px solid black;
	box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
}

.note {
	width: 13%;
	height: 3vh;
	background-color: rgba(0,0,0,0);
	border-radius: 20px;
	position: absolute;
}

.key-container {
	min-width: 100%;
	height: 5vh;
	color: black;
	font-size: 2.5em;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	font-weight: 800;
	display: flex;
	justify-content: space-around;
}

.key {
	width: 13%;
	background-color: white;
	border-top: 2px solid black;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
}

.start-button {
	width: 20%;
	height: 60px;
	border-radius: 10px;
	font-size: 2em;
	font-weight: 800;
	border: none;
	cursor: pointer;
	outline-style: none;
	background-color: #32CD32;
	color: white;
}

.start-button:hover {
	background-color: #6FDC6F;
}

.start-button:active {
	background-color: #8BE38B;
}

.multiplier-circle {
	width: 100%;
	height: 100px;
	border-top: 2px solid black;
	box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.7);
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
}

.x2 {
	background-color: #00cc66;
	display: none;
}

.x3 {
	background-color: #cccc00;
	display: none;
}

.x4 {
	background-color: #cc6600;
	display: none;
}

.x5 {
	background-color: #cc0088;
	display: none;
}

.x10 {
	background-color: #6600cc;
	display: none;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 35vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}

.modal-body {
	padding: 2px 16px;
	text-align: center;
}

.modal-footer {
    padding: 2px 16px;
    color: white;
}
